*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 10vh;
    background-color: hsl(165, 75%, 35%);
    /* background-color: rgb(9, 181, 98); aceptable*/
    position:fixed;
    transition: 0.6s;
}

/* evento para sticky, no requerido */
/* header.sticky{ */
    /* padding: 5px 100px ; */
    /* background: black; */
    /* opacity: 1; */
/* }  */

.header_h1_bloque{
    width: 60vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header h1{
    font-size: 19px;
    color: rgba(255, 250, 100, 1);
    padding-left: .3rem;
    line-height: 1.2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    
}

.header_botones_bloque{
    display: flex;
    width: 40vw;
    justify-content: flex-end;
}

/* estilo para el icono del menu */
.div_icono-menu{
    /* margin:40px 50px; */
    /* position:relative; */
    /* z-index: 10; */
    height: 10vh;
    width: 20vw;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   /* padding-left: 1rem; */
}

#botonDeMenu{
    height: 9vh;
    width: 14vw;
    position: relative;
    z-index: 20;
    color: aliceblue;
    background-color: rgba(0,0,0,1);
    border-radius: 100%;
    border: solid 1px rgb(0,0,0);
}

header #icono-usuario{
    position: relative;
    z-index: 100;
}

/* estilo para el contenedor del menu */
header .header_botones_bloque .contenido-menu {
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2 rgb(66, 66,66); 
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 18;
    top: 0;
    left: 0; 
    display: none; 
    /* Medida es la correcta para dispositivos 320px, queda acercarla */
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
}

.foto-usuario-default{
    width: 5rem;
    align-self: center;
    padding-top: 3rem;
}

.contenido-menu #nombreUsuario{
    color: rgb(256, 256, 256);
    font-size: 17px;
    text-align: center;
    margin-top: .5rem;
}
.contenido-menu p{
    color: rgb(256, 256, 256);
    text-align: center;
}

.caja-sesion{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.caja-sesion .user_input-box{
    margin-bottom: .5rem;

}

.caja-sesion .register_ancor-box{
    text-align: center;
    margin-top: 3rem;
}
#log-in-button{
    justify-self: end;
    margin-top: .4rem;
    margin-bottom: .8rem;
    width: 6rem;
    align-self: center;
}

.contenido-menu a{
    color: rgb(256, 256, 256);
    text-align: center;
    text-decoration:underline;
    color: rgb(50, 170,200);
}


/* estilo para agregar en javascript */
.activo{
    transform: translate(100vw);
    width: 50vw; 
    /* position: absolute; */
    /* right: 100vw; */
}
.opacity{
    background-color: rgba(0,0,0,.2);
    transition: all .5s ease;
 
}

/* imagen de fondo del main */
    main{
        /* display: flex; */
        /* flex-direction: column; */
        margin-top: 10vh;
        height: 80vh;
        display: inline-block;
    }
    .main_fondo_bloque{
        position: absolute;
        z-index: -100;
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    main img{
        position: absolute;
        z-index: -100;
        opacity: .5;
        width: 14rem;
        align-self: center;
        padding-top:20vh;
    }


    /* footer nav */
    footer{
        height:10vh;
        position: sticky;
        z-index: 10;
        transition: 0.6;
        bottom: -1px;
        background-color: rgba(255,255,255,1);
        margin-top: 1rem;
    }
    /* footer.sticky{
        background: black;
        opacity: 1;
    } */
    .footer_div_bloque{
        height: 10vh;
        width: 100vw;
        display: flex;
    }
    footer nav{
        height: 10vh;
        width: 100vw;
        display: flex;
    }
    .a_caja{
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 20vw;
        justify-content: center;
        align-items: center;
        z-index: 11; 
        /* border-radius: 45%;   */
    }

    .a_caja:link{
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }
    .a_caja:visited{
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
        
    }
    .a_caja p{
        font-size:x-small;
        text-decoration: none;
    }

/* ------------------- */
/* HOME */
#home_main p{
        line-height: 2;
        font-size: medium;
}
#home_main_section{
    margin: .5rem .5rem;
}
#home_main_section h2{
    text-align: center;
    margin-bottom: .5rem;
    font-size: x-large;
    text-decoration: underline;
}

#home_main_section p{
    margin-bottom: .5rem;
}

#Contact_body-block{
     margin-top: .5rem;
     margin-left: .5rem;
     margin-right: .5rem;
}

/* Game Info  */

/* #Schedule_div_body_content {
      margin: .5rem .5rem ; 
} */

#Schedule_div_body_content h2{
    font-size: large;
    text-align: center;
    text-decoration: underline;
    margin-top: .5rem;
    margin-bottom: .3rem;
}

.main_div_p_anuncio{
    text-align: center;
}
#schedule_div_table_container{
    margin-top: .5rem;
}

#game-info_table{
    margin-bottom: 1rem;
}

table{
    font-size: small;
    text-align: center;
    border: 2px black solid;
    margin:0 1rem ; 
    /* width: 90vw; */
}

caption {
    text-decoration: underline;
    font-size: medium;
    margin-bottom: .4rem;
    font-weight: 700;
    text-align: left;
}
table th,td{
    border: 1px black solid;
}

#div_schedule_extra_info{
    margin: .7rem .5rem;
    margin-bottom: .7rem;
    text-align: center;
}
#div_schedule_extra_info p{
    font-size: medium;
    margin-bottom: .5rem;
}
#div_schedule_extra_info address a{
    font-size: medium;
}

/* REGISTER HTML */
#register_main{
     margin: 11.5vh .8rem 11vh .8rem; 
}
#register_main h2 {
    font-size: large;
    text-align: center;
    margin-bottom: .7rem;
}
#resgister_div_bodycontent label{
    display: block;
    font-size: small;
}
#resgister_div_bodycontent .div_uniform-checkbox{
margin-bottom: .5rem;
}
#resgister_div_bodycontent #label_uniform{
    display: inline;
    font-size: small;
    margin-bottom: 1rem;
}
#resgister_div_bodycontent h3{
    font-size: medium;
    text-align: center;
}
.form_stylized{
    font-size: small;
}
.form_stylized label{
    display: block;
}
.form_stylized input{
    margin-bottom: .5rem;
}

#resgister_div_bodycontent fieldset{
    font-size: small;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/* #resgister_div_bodycontent select{
    font-size: small;
} */
#resgister_div_bodycontent select option{
    font-size:small ;
    color: red;
}

#resgister_div_bodycontent .contract{
    font-size: small;
    margin-top: .3rem;
}
#resgister_div_bodycontent .contract p label{
    display: block;
}
#resgister_div_bodycontent .contract_signature_container{
    margin-top: .5rem;
}
#resgister_div_bodycontent #submit-button{
    margin-top: .4rem;
}
/* RULES HTML */
#rules_main{
    margin: 10vh .5rem 1rem .5rem;
}
.rules_h2 {
    font-size: large;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: underline;
}

#rules_div_container h3{
    font-size: small;
    margin-bottom: .5rem;
}
#rules_div_container ul,ol{
     margin:0 1rem; 
}
#rules_div_container li{
    font-size:small;
    margin: .5rem 0; 
}

#rules_div_container .Sportmanship_rule-h3{
    font-size: medium;
    
}
#rules_div_container .fifa_rules-h3{
    margin-top: 1rem;
    font-size: medium;
}

#rules_div_container .important-h3{
    font-size: medium;
}

/* ABOUT.html */

#about_main{
    margin: 11vh .5rem 0 .5rem;
}

#about_main h2{
    font-size:x-large;
    text-align: center;
    text-decoration: underline;
}
#about_main section{
    margin-bottom: 1rem;
}
#about_main h3{
    font-size: medium;
}

#about_main p {
    font-size: small;
}
