*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 10vh;
    background-color: rgba(0,0,0,.3);
}

.header_h1_bloque{
    width: 50vw;
    height: 10vh;
    background-color: red;
}


header h1{
    font-size: medium;
    
}

.header_botones_bloque{
    display: flex;
    width: 55vw;
    justify-content: flex-end;
}

.div_menuDeUsuario{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
}
#botonDeUsuario{
    height: 45px;
    width: 12vw;
    position: relative;
    z-index: 5;    
}

/* estilo para el icono del menu */
.div_icono-menu{
    /* margin:40px 50px; */
    /* position:relative; */
    /* z-index: 10; */
    height: 10vh;
    width: 20vw;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   /* padding-left: 1rem; */
}

#botonDeMenu{
    height: 45px;
    width: 12vw;
    position: relative;
    z-index: 10;
    color: aliceblue;
    background-color: rgba(0,0,0,1);

}
i{
    position: relative;
    z-index: 100;
}

header #icono-usuario{

}

/* estilo para el contenedor del menu */
.contenido-menu {
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2 rgb(66, 66,66);
    width: 50vw;
    height: 100vh;
    position: absolute;
    z-index: 7;
    top: 0;
    left: end;
    transition: all .5s ease;
}

.foto-usuario-default{
    width: 5rem;
}

/* estilo para agregar en javascript */
.activo{
    transform: translate(600px);
    width: 50vw; 
}
.opacity{
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
 
}

/* imagen de fondo del main */
    main{
        /* display: flex; */
        /* flex-direction: column; */
        height: 80vh;
    }
    .main_fondo_bloque{
        position: absolute;
        z-index: -100;
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    main img{
        position: absolute;
        z-index: -100;
        opacity: .5;
        width: 14rem;
        align-self: center;
        padding-top:20vh;
    }

    /* footer nav */
    footer{
        height:10vh;
        background-color: blueviolet;
    }
    .footer_div_bloque{
        height: 10vh;
        width: 100vw;
        display: flex;
    }
    footer nav{
        height: 10vh;
        width: 100vw;
        display: flex;
    }
    .nav_caja{
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 20vw;
        justify-content: center;
        align-items: center;
    }

    .nav_caja a{
        font-size:x-small;
    }

/* ------------------- */
/* HOME */

