*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 10vh;
    background-color: rgba(0,0,0,.3);
}

.header_h1_bloque{
    width: 45vw;
    height: 10vh;
    background-color: red;
}


header h1{
    font-size: medium;
    
}

.header_botones_bloque{
    display: flex;
    width: 55vw;
    justify-content: flex-end;
}

.div_menuDeUsuario{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
}
#botonDeUsuario{
    height: 45px;
    width: 12vw;
    position: relative;
    z-index: 10;

    
}

/* estilo para el icono del menu */
.div_icono-menu{
    /* margin:40px 50px; */
    /* position:relative; */
    /* z-index: 10; */
    height: 10vh;
    width: 20vw;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   /* padding-left: 1rem; */
}

#botonDeMenu{
    height: 45px;
    width: 12vw;
    position: relative;
    z-index: 10;
    color: aliceblue;
    background-color: rgba(0,0,0,1);

}
i{
    position: relative;
    z-index: 100;
}

header #icono-menu{

}

/* estilo para el contenedor del menu */
.contenido-menu {
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2 rgb(66, 66,66);
    width: 35vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/* estilo para agregar en javascript */
.activo{
    transform: translate(-600px);
    width: 50vw; 
}
.opacity{
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
 
}

/*estilo para el listado de menu  */
nav{
    width: 50vw;
}

.contenido-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
    width: 50vw;
}

.contenido-menu ul li a{
    color: white;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    width: 50vw;
}

.contenido-menu ul li{
    width: 50vw;
}

.contenido-menu ul li a:hover{
    background-color: rgb(0, 0, 0);

}

/* ------------------- */
/* HOME */